server:

  service:
    type: NodePort

  extraArgs:
    - --insecure

  ingress: 
    enabled: true
    https: false
    annotations: 
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
    
  config:
    repositories: |
      - url: github.com/ortelius/ortelius-kubernetes.git
        sshPrivateKeySecret:
          name: ortelius-github-ssh-credentials
          key: SSH_PRIVATE_KEY
      - url: git@github.com/ortelius/ortelius-kubernetes.git
        sshPrivateKeySecret:
          name: ortelius-github-ssh-credentials
          key: SSH_PRIVATE_KEY        