server:

  service:
    type: NodePort

  ingress: 
    enabled: true
    https: false
    annotations: 
      kubernetes.io/ingress.class: addon-http-application-routing
  extraArgs:
    - --insecure
    
  config:
    repositories: |
      - url: github.com/ortelius/ortelius-kubernetes.git
        sshPrivateKeySecret:
          name: ortelius-github-ssh-credentials
          key: SSH_PRIVATE_KEY
      - url: git@github.com/ortelius/ortelius-kubernetes.git
        sshPrivateKeySecret:
          name: ortelius-github-ssh-credentials
          key: SSH_PRIVATE_KEY        

          https://github.com/ortelius/ortelius-kubernetes