helmCharts:
- name: ingress-nginx
  version: 4.2.3
  repo: https://kubernetes.github.io/ingress-nginx
  releaseName: ingress-nginx
  namespace: dns-infra
  includeCRDs: true
  valuesInline:
    controller:
      extraArgs:
        - enable-ssl-passthrough
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                    - nginx-ingress
                - key: component
                  operator: In
                  values:
                    - controller
              topologyKey: "kubernetes.io/hostname"
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: kube-prometheus-stack
      publishService:
        enabled: true
      replicaCount: 1
      stats:
        enabled: true

    rbac:
      create: true

    service:
      externalTrafficPolicy: Local

    config:
      use-forwarded-headers: "true"
