server:

  service:
    type: NodePort

  extraArgs:
  - --insecure

  ingress: 
    enabled: true
    https: false
    annotations: 
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/ssl-passthrough: "false"
    hosts:
      - argocd.ortelius.io

  additionalProjects:
  - name: ortelius
    namespace: ci-cd
    description: ortelius Project
    sourceRepos:
    - '*'
    destinations:
    - namespace: '*'
      server: $ARGO_DESTINATION_CLUSTER_SERVER
    clusterResourceWhitelist: 
    - group: '*'
      kind: '*'
    namespaceResourceWhitelist:
    - group: '*'
      kind: '*'

  rbacConfig:
    policy.default: role:readonly
    policy.csv: |
      p, role:org-admin, applications, *, */*, allow
      p, role:org-admin, clusters, get, *, allow
      p, role:org-admin, repositories, get, *, allow
      p, role:org-admin, repositories, create, *, allow
      p, role:org-admin, repositories, update, *, allow
      p, role:org-admin, repositories, delete, *, allow
      g, "9611561b-0599-4b2e-b4e2-a190faa1d388", role:org-admin # (azure group assigned to role)
    scopes: '[roles, email]'`

  config:
    url: https://argocd.$CLIENT_DOMAIN_URL
    oidc.config: | 
      name: Azure
        issuer: https://login.microsoftonline.com/57ebf52b-400a-4db6-a524-b07f4888055a/v2.0
        clientID: adcae61e-8c4f-4146-b845-cc5ff47f3027
        clientSecret: $oidc.azure.clientSecret
        requestedIDTokenClaims:
            groups:
                essential: true
        requestedScopes:
            - openid
            - profile
            - email
        